@font-face {
    font-family: '경기천년';
    src: url(../경기서체웹폰트/경기서체웹폰트/woff/Title_Medium.woff);
}

div, input, textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: '경기천년';
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
}

.main-title {
    color: white;
    text-align: center;
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    color: white;
    text-align: center;
}

.buy-button {
    color: white;
    background: black;
    border: none;
    padding: 18px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
}

.shoes-introduce {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: #eee;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -40px;
}

.contact-background {
    background-color: gray;
    padding: 30px;
}

.main-contact {
    background-color: white;
    padding: 70px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-long {
    height: 200px;
}

.submit-button {
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    font-size: 15px;
    font-family: '경기천년';
    border-radius: 5px;
    display: block;
    margin-left: auto;
    float: right;
}